[user]
	name = Adam Cavendish
	email = GetbetterABC@yeah.net
[core]
	editor = vim
	branch = auto
	diff = auto
	interactive = auto
	status = auto
[merge]
	tool = vimdiff
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	unstage = reset HEAD --
	lol = log --graph --decorate --pretty=oneline --abbrev-commit
	lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
[http]
	# sslVerify = false
	# proxy = 127.0.0.1:8087
