[Desktop Entry]
Icon=video-x-msvideo
Name=(CREAM PIE)(KCPN-048)パンスト破り 中出しされ過ぎ逆噴射 織原えみ.avi
Type=Link
URL[$e]=file:///files/Aria/!NEW/KCPN-048/(CREAM%20PIE)(KCPN-048)%E3%83%91%E3%83%B3%E3%82%B9%E3%83%88%E7%A0%B4%E3%82%8A%20%E4%B8%AD%E5%87%BA%E3%81%97%E3%81%95%E3%82%8C%E9%81%8E%E3%81%8E%E9%80%86%E5%99%B4%E5%B0%84%20%E7%B9%94%E5%8E%9F%E3%81%88%E3%81%BF.avi
X-KDE-LastOpenedWith=vlc
