[Desktop Entry]
Icon=image-jpeg
Name=DV1561.jpg
Type=Link
URL[$e]=file:///files/Aria/!NEW/10-21%20%E6%96%B0%E4%BD%9C40%E9%80%A3%E7%99%BC/DV1561.jpg
X-KDE-LastOpenedWith=gwenview
