[Desktop Entry]
Icon=image-jpeg
Name=jbs007.jpg
Type=Link
URL[$e]=file:///files/Aria/!NEW/10-19%20%E6%96%B0%E4%BD%9C36%E9%80%A3%E7%99%BC/jbs007.jpg
X-KDE-LastOpenedWith=gwenview
