[Desktop Entry]
Icon=image-jpeg
Name=OHO044.jpg
Type=Link
URL[$e]=file:///files/Aria/!NEW/10-21%20%E6%96%B0%E4%BD%9C40%E9%80%A3%E7%99%BC/OHO044.jpg
X-KDE-LastOpenedWith=gwenview
